.navbar {
background-color: #E83E8C !important;
;
}
.fondo_navbar {
    background-color: #E83E8C !important;
;
}

.logosuricata {
    height:30px ;

}


header{
    text-align: center;
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #707070;
}

section{
    background-color: #17A2B8;
    color: white;
}

.titlefooter{
    color: white;
    vertical-align: center!important;
    font-weight: 700;
    padding-top: 78px;
    padding-left: 120px;
    padding-right: 55px;
    padding-bottom: 57px;

    
}

i{
    color:white;
    margin: 2px ;
    text-align: right !important;
    padding-top: 58px;
    padding-bottom: 57px;
    display: block;

}

footer{
    background-color: #E83E8C;
}

.suricatafooter{
    padding-top: 30px;
    padding-bottom: 52px;
    width: 4%;
    display:block;
   margin:auto;
           
        
    }

.section{
    background-color: #17A2B8;
    color: white;
    margin: 0;
    padding: 0px;
}

